/__pycache__/
/.hypothesis/constants
/.hypothesis/tmp/tmpp0cq_4x6
/.hypothesis/unicode_data/13.0.0/charmap.json.gz
/.hypothesis/unicode_data/13.0.0/codec-utf-8.json.gz
/venv/
/venv/Scripts/
/venv/pyvenv.cfg
/.vscode/
/.hypothesis/.
/.pytest_cache/
